/* This stylesheet is used to style the plugin settings page. */

.wrap .nav-tab:focus, .wrap .nav-tab:hover {
    box-shadow: none;
}

.wrap textarea {
  width: 100%;
  height: 200px;
}


/* Right Sidebar */
.sidebar-right a{color:#2980B9;transition: all 0.3s ease;}
.sidebar-right a:hover{color:#3498DB;}
.sidebar-right ul{margin-top:0px;}
.sidebar-right .inside .sidebar-footer{font-size:0.9em;overflow: hidden;border-top:1px solid #ccc;padding-top:5px;text-align:center;margin-bottom:10px;}
.sidebar-right .inside .no-underline{text-decoration: none;}
.sidebar-right .inside .text-highlighted{color:#2980B9;font-weight:bold;}
.sidebar-right .inside .text-highlighted:hover{color:#3498DB;}
.sidebar-right .inside .text-highlighted-second{color:#E74C3C}
